body {
    background-color: rgb(50, 50, 50);
}

th {
    text-align: center;
    padding-right: 150px;
    padding-bottom: 5px;
    background-color: rgb(120, 0, 0);
    color: rgb(230, 230, 230);
}

td {
    padding-top: 10px;
    text-align: center;
    color: rgb(230, 230, 230);
    font-weight: bold;
}

a:visited {
    font-weight: bold;
    color: rgb(120, 0, 0);
}

a:link {
    font-weight: bold;
    color: rgb(120, 0, 0);
}

a:hover {
    font-weight: bold;
    color: rgb(230, 230, 230);
}

h1 {
    color: rgb(190, 0, 0);
    font-weight: bold;
}

label {
    color: rgb(230, 230, 230);
    font-weight: bold;
}

#description {
    width: 350px;
    font-weight: bold;
}

#date {
    width: 75px;
    font-weight: bold;
}

#addbox {
    background-color: rgb(30, 0, 0);
    margin-right: 1670px;
}

button {
    font-weight: bold;
}